@model IEnumerable<Plant_Paradise.Models.Product>

@{
    ViewBag.Title = "SingleProduct";
    Layout = "~/Views/Shared/UserLayout12.cshtml";
}
@using (Html.BeginForm("Add_ToCart", "Products"))
{
    <div class="single-product mt-150 mb-150">
        <div class="container">
            <div class="row">


                @foreach (var item in Model)
                {
                <div class="col-md-5">
                    <div class="single-product-img">
                        <img src="~/Images/@item.Product_Image" alt="">
                    </div>
                </div>
                
                <div class="col-md-7">
                    <div class="single-product-content">
                        <h3>Boncellensis Secullant</h3>
                        <p class="single-product-pricing"><span> </span><@item.Product_Price JD</p>
                        <p>Boncellensis Secullant is a stunning and unique succulent plant with cylindrical stems that grow upright, resembling little columns. It features small, green leaves that grow in a spiral pattern around the stems, and produces delicate pink flowers in the spring. This plant is low-maintenance and perfect for indoor or outdoor settings, making it a great choice for anyone looking to add a touch of natural beauty to their home or garden.</p>
                        @if (item.Sub_Categories.Category_id == 1 || item.Sub_Categories.Category_id == 2) { 
                        
                                <h3>Water needed</h3>
                                <p>@item.Water_needed</p>
                                
                        
                        }
                        <h4>Size:@item.Product_Size</h4>
                        <div class="single-product-form">
                            <p><strong>Categories:</strong>@item.Sub_Categories.SubCategoryName</p>

                            <form method="post" Asp-action="Add_ToCart">
                                <input type="hidden" name="id" value="@item.Product_id" />
                                <div>
                                    <label for="quantity">Quantity:</label>
                                    <input type="number" id="quantity" name="quantity" value="1" min="1" required />
                                </div>
                                <div>
                                    <input class="cart-btn " type="submit" value="Add to Cart">
                                        
                                    
                                </div>

                            </form>
                        </div>
                      
                    </div>

                </div>
                }
                
            </div>
        </div>
    </div>
}
   <!-- end single product -->
    <!-- more products -->
    
