@model IEnumerable<Plant_Paradise.Models.Category>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/UserLayout1.cshtml";
}

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/UserLayout1.cshtml";
}

<!-- home page slider -->
<div class="homepage-slider">
    <!-- single home slider -->
    <div class="single-homepage-slider homepage-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Plants For Interior</p>
                            <h1>
                                Bring Freshness To Your Architecture
                            </h1>
                            <div class="hero-btns">
                                <a href="shop4.html" class="boxed-btn">Plants Collection</a>
                                <a href="contact.html" class="bordered-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- single home slider -->
    <div class="single-homepage-slider homepage-bg-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Plant Care Guide </p>
                            <h1>
                                That Plants Make Us Happier
                            </h1>
                            <div class="hero-btns">
                                <a href="shop4.html" class="boxed-btn">Visit Shop</a>
                                <a href="contact.html" class="bordered-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- single home slider -->
    <div class="single-homepage-slider homepage-bg-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-right">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Indoor Plants</p>
                            <h1>
                                A Link Between The Farmer And the Buyer
                            </h1>
                            <div class="hero-btns">
                                <a href="shop4.html" class="boxed-btn">Visit Shop</a>
                                <a href="contact.html" class="bordered-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end home page slider -->
<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="content">
                        <h3>Free Delivery</h3>
                        <p>Get Free Delivery</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="content">
                        <h3>24/7 Support</h3>
                        <p>Get support all day</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-sync"></i>
                    </div>
                    <div class="content">
                        <h3>Consultation</h3>
                        <p>Get a free consultation for one year</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end features list section -->
<!-- product section -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Our</span> Categories</h3>
                    <p>Deal Of The Day</p>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="\Home\SubCategory\@item.Category_id"><img src="~/Images/@item.Category_Image" alt="" style="width:210px;height:207px"></a>
                        </div>
                        <h3>@item.Category_Name</h3>

                        <a href="\Home\SubCategory\@item.Category_id" class="cart-btn">View</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Best</span> Sellers</h3>
                    <p>Deal Of The Day</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="~/Content/assets/img/AppleTrees.jpg " alt="" style="width: 261px;height: 261px;"></a>
                    </div>
                    <h3>Apple Tree</h3>
                    <p class="product-price">15JD </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="~/Content/assets/img/AppleTrees.jpg " alt="" style="width: 261px;height: 261px;"></a>
                    </div>
                    <h3>Apple Tree</h3>
                    <p class="product-price">15JD </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="~/Content/assets/img/AppleTrees.jpg " alt="" style="width: 261px;height: 261px;"></a>
                    </div>
                    <h3>Apple Tree</h3>
                    <p class="product-price">15JD </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- end product section -->
<!-- cart banner section -->
<!-- end cart banner section -->

<section class="shop-banner">
    <div class="container">
        <h3>Discover a world  of <span class="orange-text">natural</span></h3>
        <h3>beauty<span class="orange-text"> at our </span>website</h3>
        <a href="shop.html" class="cart-btn btn-lg">Shop Now</a>


    </div>
</section>



<!-- testimonail-section -->
<div class="testimonail-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="testimonial-sliders">
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                        </div>
                        <div class="client-meta">
                            <h3>Saira Hakim </h3>
                            <p class="testimonial-body">
                                " Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                        </div>
                        <div class="client-meta">
                            <h3>David Niph </h3>
                            <p class="testimonial-body">
                                " Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                        </div>
                        <div class="client-meta">
                            <h3>Jacob Sikim </h3>
                            <p class="testimonial-body">
                                " Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="comment.html" class="boxed-btn mt-4">Add Comment</a>

    </div>
</div>
<!-- end testimonail-section -->
<!-- advertisement section -->
<div class="abt-section mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="abt-bg">
                    <a href="https://www.youtube.com/watch?v=yCOKZXnVhpw" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-text">
                    <h2>ِAbout<span class="orange-text"> Plant Paradise</span></h2>
                    <p>Our website is the perfect place to find a wide variety of trees, plants, and flowers. We specialize in providing high-quality and sustainably grown plants to our customers. Our selection includes everything from beautiful flowering plants to hardy trees and shrubs. We take great care in selecting and shipping our plants to ensure they arrive at your doorstep in perfect condition.</p>
                    <p>

                        We work hard with farmers to  offer a wide selection of trees, plants, and flowers that will bring life and beauty to Your space.
                    </p>
                    <a href="about.html" class="boxed-btn mt-4">know more</a>
                </div>
            </div>
        </div>
    </div>
</div>