
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Plant Paradise</title>
    <link href="~/Content/assets/Admin/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <style>
        @@import url('../../content/assets/bootstrap/css/bootstrap.css');

        .description {
            display: inline-block;
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .description:hover {
                width: 150px;
                white-space: normal;
                overflow: visible;
            }

        .img {
            width: 100px;
            height: 100px;
            transition: all 0.3s ease-out; /* Add a transition effect */
        }

            /* When hovering over the image, increase its size */
            .img:hover {
                transform: scale(3);
            }
        .edit-product-form {
            background-color: #f7f7f7;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            max-width: 500px;
            margin: 0 auto;
        }

            .edit-product-form h2 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
                text-align: center;
            }

            .edit-product-form label {
                display: block;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .edit-product-form input[type="text"],
            .edit-product-form textarea {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 3px;
                margin-bottom: 20px;
            }
        .product-details {
            display: grid;
            grid-template-columns: repeat(2, 300px);
            grid-gap: 9px;
            font-size: 16px;
        }

            .product-details label {
                font-weight: bold;
            }

    </style>


</head>
<body>
    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h4 style="color:white;">Plant<span> Paradise</span></h4>
        </div>

        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image: url(../../Content/assets/Admin/img/280067149_2498246926978449_914632831927401058_n.jpg)"></div>
                <h6 style="color:white;">Momen Abu Alhaija</h6>
                <small>Developer</small>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                        <a href="/CategoriesAdmin/Statistics">
                            <span class="las la-home"></span>
                            <small>Dashboard</small>
                        </a>
                    </li>
                    <li>
                        <a href="/Users/Index">
                            <span class="las la-user-alt"></span>
                            <small>Users</small>
                        </a>
                    </li>


                    <li>
                        <a href="/OrdersAdmin/Index">
                            <span class="las la-shopping-cart"></span>
                            <small>Orders</small>
                        </a>
                    </li>

                    <li>
                        <a href="/FeedbacksAdmin/Index">
                            <span class="las la-comment"></span>
                            <small>Feedback</small>
                        </a>
                    </li>
                    <li>
                        <a href="/CategoriesAdmin/Index" >
                            <span class="las la-cubes"></span>
                            <small>Categories</small>
                        </a>
                    </li>
                    <li>
                        <a href="/ProductsViewAdmin/Index" class="active">
                            <span class="las la-tree"></span>
                            <small>Products</small>
                        </a>
                    </li>



                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">

        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="header-menu">


                    <div class="user">
                        <div class="bg-img" style="background-image: url(img/1.jpeg)"></div>

                        <span class="las la-power-off"></span>
                        <form action="/Account/LogOff" class="navbar-right" id="logoutForm" method="post">
                            <input name="__RequestVerificationToken" type="hidden" value="3YC_eVdbkjWTnOZdkq9G3z1qGK30QtuB-DzuicPZ1tlArb-P3UzhvRsG80QGzoO_aBy9LUMUD8hIhNG6tY-ksH30LL2Q-dXMgPLPRcpnaewxWvR6MYdo3Ji5ZP2Fm2PSY2tZMIYhZy-XIPKXgFuhYw2" />    <ul class="nav navbar-nav navbar-right">
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <main>
            @RenderBody()
        </main>

    </div>
</body>

</html>
