<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>Plant Paradise</title>

    <!-- favicon -->
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/Content/assets/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="~/Content/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="~/Content/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">
    <style>
        @@media screen and (min-width: 900px){
        .top-header-area {
            background-color: #051922;
        }
       }

    </style>
</head>

<body>

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="index.html" style="color: #F28123;font-size: 22px;font-weight: bold;">
                                Plant Paradise
                            </a>
                        </div>
                        <!-- logo -->
                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>

                                <li><a href="/Home/Index">Home</a></li>

                                <!-- <li><a href="#">Pages</a>
        <ul class="sub-menu">
            <li><a href="404.html">404 page</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="cart.html">Cart</a></li>
            <li><a href="checkout.html">Check Out</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="shop.html">Shop</a></li>
        </ul>
    </li> -->
                                <!-- <li><a href="news.html">News</a>
        <ul class="sub-menu">
            <li><a href="news.html">News</a></li>
            <li><a href="single-news.html">Single News</a></li>
        </ul>
    </li> -->
                                <li><a href="/Products/Index2">Shop</a></li>
                                @if (User.Identity.IsAuthenticated == true)
                                {
                                    <li><a href="Form.html">Consultation</a></li>
                                    <li><a href="/UserProfile/Index">Profile</a></li>
                                }
                                    <li><a href="/Home/About">About</a></li>

                                    <li><a href="/Home/Contact">Contact</a></li>

                                    <li>
                                        <div class="header-icons">
                                            <a class="shopping-cart" href="/Products/ViewCart">
                                                <i class="fas fa-shopping-cart"></i><span style="margin-left:0.25rem">  @Session["NumberofItem"]</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        @Html.Partial("_LoginPartial")
                                    </li>
                                </ul>

                        </nav>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="logo-carousel-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-carousel-inner">
                        <div class="single-logo-item">
                            <img src="~/Content/assets/img/DuPont-Logo.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="~/Content/assets/img/Nutrien_Logo_R_color.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="~/Content/assets/img/ADM-6404202d.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="~/Content/assets/img/Syngenta_logo.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="~/Content/assets/img/BASF-Symbol.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end logo carousel -->
    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">About us</h2>
                        <p>Our website is a haven for plant lovers. We take pride in providing a wide selection of beautiful and unique trees, plants, and flowers that are sure to delight.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Get in Touch</h2>
                        <ul>
                            <li>Jordan,Irbid,Sharqi District</li>
                            <li>Plant Paradise@fruitkha.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Pages</h2>
                        <ul>
                            <li><a href="/Home/Index">Home</a></li>
                            <li><a href="/Home/About">About</a></li>
                            <li><a href="/Home/Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box Pages">
                        <h2 class="widget-title">social</h2>
                        <ul>
                            <li><a href="https://www.facebook.com/momen.abualhaija" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/momen_abu_alhaija/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/momen_abu_alhaija/" target="_blank"><i class="fab fa-instagram"></i></a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <script src="~/Content/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="~/Content/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="~/Content/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="~/Content/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="~/Content/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="~/Content/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="~/Content/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)


</body>

</html>

