
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/AdminLAyout.cshtml";
}


<div class="page-header">
    <h1>Dashboard</h1>
    <small>Home / Dashboard</small>
</div>

<div class="page-content">

    <div class="analytics">

        <div class="card">
            <div class="card-head">
                <h2>107</h2>
                <span class="las la-user-friends"></span>
            </div>
            <div class="card-progress">
                <small>Users</small>


            </div>
        </div>

        <div class="card">
            <div class="card-head">
                <h2>230</h2>
                <span class="las la-comment"></span>
            </div>
            <div class="card-progress">
                <small>feedbacks</small>

            </div>
        </div>

        <div class="card">
            <div class="card-head">
                <h2>34</h2>
                <span class="las la-user-astronaut">


                </span>
            </div>
            <div class="card-progress">
                <small>Number of Products</small>

            </div>
        </div>

        <div class="card">
            <div class="card-head">
                <h2>500JD</h2>
                <span class="las la-dollar-sign">

                </span>
            </div>
            <div class="card-progress">
                <small>Total Revenues</small>

            </div>
        </div>



    </div>



</div>



<div class="page-content">

    <div class="analytics">

        <div class="card">
            <div class="card-head">
                <h2>107</h2>
                <span class="las la-user-friends"></span>
            </div>
            <div class="card-progress">
                <small>Users</small>


            </div>
        </div>

        <div class="card">
            <div class="card-head">
                <h2>230</h2>
                <span class="las la-comment"></span>
            </div>
            <div class="card-progress">
                <small>feedbacks</small>

            </div>
        </div>

        <div class="card">
            <div class="card-head">
                <h2>34</h2>
                <span class="las la-user-astronaut">


                </span>
            </div>
            <div class="card-progress">
                <small>Number of Products</small>

            </div>
        </div>

        <div class="card">
            <div class="card-head">
                <h2>500JD</h2>
                <span class="las la-dollar-sign">

                </span>
            </div>
            <div class="card-progress">
                <small>Total Revenues</small>

            </div>
        </div>



    </div>



</div>


